[submodule "/home/jwei/Project/bochs-oldlinux/oldlinux-files/kernel/0.1x/linux-0.12-done"]
	path = /home/jwei/Project/bochs-oldlinux/oldlinux-files/kernel/0.1x/linux-0.12-done
	url = https://github.com/minami9/Linux-0.12
